{% extends "base.html" %}

{% block content %}
    <div class="container">
  <div class="row">
    <div class="col">
    <h3>Gigachat based trip advice</h3>
     </div>
    <div class="col">
        <div class="container p-3">
            <h3>Gigachat based trip advice</h3>
            <div class="mb-3">
                <form method="post">
                    {% csrf_token %}
                    <label for="prompt" class="form-label"><strong>Place to visit: </strong></label>
                    <textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="3"></textarea>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <br>
            <div class="mb-3">
                <h6>Response:</h6>
                <div class="container border overflow-auto h-50" id="response"></div>
</div>
            </div>
        </div>
        
        
{% endblock %}
