<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style_main_page.css">
</head>
<body>


    <!-- верхняя панель -->
    <div class="header">
        <!-- левая часть -->
        <img class="first_im" src="/static/materials/static.png" alt="Статика">
        <img class="second_im" src="/static/materials/bonus.png" alt="Бонусы">
        <img class="thrird_im" src="/static/materials/head_of_bear.png" alt="Голова медведя">

        <img class="fourth_im" src="/static/materials/circle-flags.png" alt="Флаг РФ">

    </div>

    <div class="right_header">
        <!-- правая часть -->
        
        <!-- <img class="im7" src="materials/circle-flags.png" alt="Регион=Россия"> -->
    </div>
        
    


    <!-- место для маскота -->
    <div>
        <img class="all_mat" src="/static/materials/RussPass-2 1.png" alt="Маскот">
    </div>

    <!-- место для меню -->
    <div class="barside">
        <p class="im01"><button onclick="location.href='/chat'">UnoChat</button>
        <p class="im02"><button onclick="location.href='/map'">UnoMap</button>
        <p class="im03"><button onclick="location.href='/game'">UnoGame</button>
    </div>

</body>